<!-- Code that all your layouts share -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Title }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
    <link rel="icon" href="{{ .Site.BaseURL }}images/favicon.png">
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  </body>
  <script>
  //select all elements with class .vi-lazyload
    var vimeo = document.querySelectorAll('.vimeo');

    //for each element execute:
    for(var i = 0; i < vimeo.length; i++){

        var data_id = vimeo[i].dataset.id,
            source = "https://i.vimeocdn.com/video/"+  vimeo[i].dataset.thumb + ".jpg";

        // Create sibling child node for styling
        var div = document.createElement('div');
        div.className = 'overlay';

        // Load the image asynchronously
        var vi_image = new Image();
        vi_image.src = source;

        //append thumbails after they are loaded
        vi_image.addEventListener('load',function(){
            vimeo[i].append(div, vi_image);
        }(i));

        // attaches the click event to the wrapper div
        vimeo[i].addEventListener('click',function(){
            var vi_container = this.parentElement,
                vi_iframe    = document.createElement('iframe');

              vi_iframe.src = 'https://player.vimeo.com/video/' + this.dataset.id + '?autoplay=1&title=0&byline=0&portrait=0';
              vi_iframe.setAttribute('allow','autoplay;fullscreen');
              vi_iframe.setAttribute('allowfullscreen','');
              this.innerHTML = "";
              this.appendChild( vi_iframe );
        });

    }

    var youtube = document.querySelectorAll( ".youtube" );

    for (var i = 0; i < youtube.length; i++) {
      // thumbnail image source.
      var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";

      // Create sibling child node for styling
      var div = document.createElement('div');
      div.className = 'overlay';

      // Load the image asynchronously
      var image = new Image();
      image.src = source;
      image.addEventListener( "load", function() {
          youtube[ i ].append( div, image );
      }( i ) );

      // attaches the click event to the wrapper div
      youtube[i].addEventListener( "click", function() {
       var iframe = document.createElement( "iframe" );

           iframe.setAttribute( "frameborder", "0" );
           iframe.setAttribute( "allowfullscreen", "" );
           iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

           this.innerHTML = "";
           this.appendChild( iframe );
   } );
    }



  </script>
</html>
